*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
  background-image: url(images/code.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: linear-gradient(to left, blue, red);*/
}

.mainContent
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0);
  margin: 0 200px;
  padding: 60px;
  gap: 50px;
}

/* LOGO */

.logoContent
{
  position: relative;
  background-color: rgba(127, 255, 212, 0);
  border: 2px solid rgba(255, 0, 0, 0);
  height: 800px;
  width: 80%;
}

.logo
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  height: 550px;
  width: 100%;
  bottom: 30%;
  transition: 4s;
}

#imgHacker
{
  height: 300px;
  width: 300px;
}

h1
{
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  transition: 4s;
  text-transform: uppercase;
}

/* FORM */

.formContent
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, #ad38dbc0, #3893cfc0);
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.5);
  height: 800px;
  width: 100%;
  padding: 25px;
}

.mainContent:hover h1
{
  text-shadow: 0 0 20px rgb(255, 255, 255),
  0 0 40px rgb(255, 255, 255),
  0 0 60px rgb(255, 255, 255),
  0 0 80px rgb(255, 255, 255);
  transition: 4s;
}

.mainContent:hover .logo
{
  box-shadow: 0 0 20px rgb(255, 255, 255),
  0 0 40px rgb(255, 255, 255),
  0 0 60px rgb(255, 255, 255),
  0 0 80px rgb(255, 255, 255);
  transition: 4s;
}

#headTxt
{
  font-size: 25px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

h2
{
  margin-bottom: 20px;
}

.formContent form .userInfo
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

form .userInfo .inputBox
{
  width: 48%;
  margin: 5px;
  margin-bottom: 20px;
}

.userInfo .inputBox input
{
  background-color: rgb(221, 221, 221);
  font-size: 15px;
  height: 45px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

label
{
  font-size: medium;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

input:focus:empty
{
  background-color: white;
  border: 2px solid black;
}

input:valid:not(:placeholder-shown)
{
  background-color: rgb(180, 255, 191);
  border: 2px solid rgb(0, 150, 0);
  /*background: url(images/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 290px 10px;*/
}

input:invalid:not(:focus):not(:placeholder-shown)
{
  background-color: rgb(255, 200, 219);
  border: 2px solid red;
}

#infoPass
{
  color: rgb(180, 0, 0);
  font-size: 12px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-left: 30px;
}

/* Botton */

.btn
{
  font-size: larger;
  font-weight: bolder;
  color: white;
  height: 50px;
  width: 100%;
  border: 2px solid white;
  border-radius: 25px;
  background-color: #3893cf;
  /*background-image: linear-gradient(to top left, green, blue);*/
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 50px 0;
}